.Sidebar {
  height: 1100px;
  width: 250px;
  background-color: mediumslateblue;
  margin-right: 2rem;
}

.SidebarList {
  height: auto;
  width: 100%;
  padding: 0;
  padding-top: 30%;
}
.Sidebar .rowdata {
  width: 100%;
  height: 50px;
  padding-top: 5%;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Sidebar .rowdata #sidebaricon {
  flex:20%;
  padding-left: 15%;
  cursor: pointer;
  transition: 200ms color ease-in;
}
.Sidebar .rowdata #sidebartitle {
  flex:80%;  
  padding-left: 0%;
  cursor: pointer;
  transition: 200ms color ease-in;
}

.Sidebar .rowdata #sidebaricon:hover {
  color: blue;
}

.Sidebar .rowdata #sidebartitle:hover {
  color: blue;
}

.sidebar-option {
  color: white;
  margin: 5px;
}