.player {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  padding: 20px;
  color: white;
}

.player__left {
  display: flex;
  align-items: center;
  color: white;
  width: 5rem;
  flex: 0.3;
  margin-top: 10px;
}

.player__center {
  flex: 0.4;
  padding: 0 100px;
  display: flex;
  align-items: center;
  max-width: 300px;
}

.player__right {
  flex: 0.3;
}

.album__pic {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  object-fit: contain;
}

.song__info {
  margin-top: 5px;
}

.play-icon:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.2) !important;
}