.search {
  background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  height: 100vh;
  margin-left: 12rem;
  width: 100vw;
} 

.search-field {
  display: flex;
  justify-content: center;
  margin-right: 11.5rem;
  padding-top: 50px;
}

input {
  width: 400px;
  height: 40px;
}

.btn {

margin-bottom: 3px;
}
