* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  margin-left: 12.5rem;
}

.app {
  background-color: #28282B;
}

.message {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-family: 'Mochiy Pop One', sans-serif;
  margin-top: 2rem;
  font-family: 'Electrolize', sans-serif;
}

.featured {
  color: white;
  font-family: 'Electrolize', sans-serif;
}

.title {
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Electrolize', sans-serif;
}

.featured-songs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 10px;
  padding-bottom: 4rem;
  flex-wrap: wrap;
}

.featured-songs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18px;
  padding-bottom: 4rem;
  flex-wrap: wrap;
}

.summer-songs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18px;
  padding-bottom: 4rem;
  flex-wrap: wrap;
}

.recent-songs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18px;
  padding-bottom: 4rem;
  flex-wrap: wrap;
}

.featured-songs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18px;
  padding-bottom: 4rem;
  flex-wrap: wrap;
}

.releases-songs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18px;
  padding-bottom: 4rem;
  flex-wrap: wrap;
}

.song {
  height: 325px;
  width: 225px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
border-radius: 10%;
margin-right: 0.5rem;
margin-bottom: 1.5rem;
}

.image {
  height: 150px;
  width: 150px;
  background-color: #e39dbb;
  background-size: 100% 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.artist {
  opacity: 50%;
}

.player-div {
  color: white;
}

.player-icon {
  cursor: pointer;
}

.player-icon:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.2) !important;
}
