.App {
  width: 100vw;
  height: 100vh;
}

.reverb {
  display: flex;
  flex-wrap: wrap;
}

.player-div {
  width: 100%;
  position: fixed;
  bottom: 0%;
}

._ContentRSWP.__1xc0f9k {
  background-color: #0cbaba;;
  color: white;
}

path {
  color: white;
}

 a {
  color: white;
}

.btn {
  font-family: 'Electrolize', sans-serif;
}

.sidebar {
  background-color: #380036;
  width: 200px;
  height: 3360px;
  position: fixed;
  color: white;
}

.sidebar-items {
  padding-top: 10px;
}

.sidebar-home {
  padding-top:px;
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar-home:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1) !important;
}

.sidebar-search {
  padding-top: 5px;
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar-search:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1) !important;
}

.sidebar-library {
  padding-top: 5px;
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar-library:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1) !important;
}

.sidebar-playlist {
  padding-top: 5px;
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar-playlist:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1) !important;
}

.sidebar-liked {
  padding-top: 5px;
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar-liked:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1) !important;
}

.sidebar-icon {
  margin-right: 5px;
}

.sidebar-title {
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
