.library-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 220px;
  
}

.page-header {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  border: 10px outset gray;
  width: 50%;
}

.page-title {
  display: flex;
  align-items: center;
  color: white;
}

.header-message {
  display: flex;
  align-items: center;
  color: white;
}

.page-components {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* flex-grow: 1; */
}

.left-side {
  display: flex;
  /* flex-flow: column wrap; */
  flex-direction: column;
  width: 50%;
  /* flex: auto; */
  border: 5px solid green;
}

.right-side {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  flex-grow: 1;
  border: 5px solid red;
}

.songs-components {
  display: flex;
  flex-flow: column wrap;
  border: 5px outset gray;
  flex: 1;
}

.songs-header {
  display: flex;
  flex-flow: row wrap;
} 

.songs-items {
  display: flex;
  flex-flow: row wrap;
}

.song-item {
  
}


.all-songs-button {

}

.albums-components {
  display: flex;
  flex-flow: column wrap;
  border: 5px outset gray;

  flex: 1;
}

.albums-header {

}

.albums-items {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}

.albums-item {
  /* background-color: red; */
}

.all-albums-button {
  
}

.playlists-components {
  display: flex;
  flex-flow: column wrap;
  border: 5px outset gray;
  flex: 1;
}

.playlists-header {

}

.playlists-items {
  display: flex;
  flex-flow: row wrap;
}

.playlists-item {
  
}

.all-playlists-button {

}

.artists-components {
  display: flex;
  flex-flow: column wrap;
  border: 5px outset gray;
  /* flex: 1; */
}

.artists-header {

}

.artists-items {
  display: flex;
  flex-flow: row wrap;
}

.artists-item {
  
}

.all-artists-button {

}

.genres-components {
  display: flex;
  flex-flow: column wrap;
  border: 5px outset gray;
}

.genres-header {

}

.genres-items {
  display: flex;
  flex-flow: row wrap;
}

.genres-item {

}

.all-genres-button {

}

.podcasts-components {
  display: flex;
  flex-flow: column wrap;
  border: 5px outset gray;
}

.podcasts-header {

}
  
.podcasts-items {
  display: flex;
  flex-flow: row wrap;
}

.podcasts-item {
  
}

.all-podcasts-button {

}