.library-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px outset red;
  height: 70vh;
  /* flex-wrap: wrap; */
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px outset gray;
}

.page-title {
  display: flex;
  align-items: center;
}

.header-message {
  display: flex;
  align-items: center;
  /* border: 3px solid red; */
}

.left-side {

}

.page-components {
  display: flex;
  flex-direction: row;
  border: 3px solid green;
}

.songs-components {
  border: 3px outset gold;
}

.songs-header {

} 

.songs-items {
  
}

.albums-components {
  
}

.albums-header {

}

.albums-items {

}

.playlists-components {

}

.playlists-header {

}

.playlists-items {

}

.artists-components {

}

.artists-header {

}

.artists-items {

}

.genres-components {

}

.genres-header {

}

.genres-items {

}

.podcasts-components {
  
}

.podcasts-header {

}
  
.podcasts-items {

}



/* Once again making stock items */
.stock-song {

}

.stock-album {

}

.stock-artist {
  
}

.stock-playlist {

}

.stock-genre {

}

.stock-podcast {

}