
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url("https://fonts.googleapis.com/css?family=Lato:300");



.library-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  /* align-items: center; */
  /* flex: 1; */
  /* margin-left: 220px; */
  margin-left: 13rem;
  width: 80vw;
  height: 100%;
}

.page-header {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  border: 10px outset gray;
  width: 50%;
  background-color: gray;
  height: 15vh;
  width: minmax(10vw, 20vw);
  justify-content: space-around;
  /* margin-top: 5%; */
  
    /* marg: 5vh; */

}

.page-title {
  display: flex;
  align-items: center;
  color: black;
  /* font-size: 3em; */
  font-family: 'Archivo Black', sans-serif;
  text-shadow: 1px gray;
}


.header-message {
  align-items: center;
  color: black;
  font-family: 'Archivo Black', sans-serif;
}


.page-components {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  background-color: gray;
  border: 10px outset darkgrey;
  margin: 3%;
  /* flex-grow: 1; */
}

.left-side {
  display: flex;
  /* flex-flow: column wrap; */
  flex-direction: column;
  width: 40vw;
  /* flex: auto; */
  border: 5px solid darkgrey;
  /* height: minmax(10vh, 20vh); */
}

.right-side {
  display: flex;
  flex-flow: column wrap;
  width: 40vw;
  flex-grow: 1;
  border: 5px solid darkgrey;
}

.songs-components {
  display: flex;
  flex-flow: column wrap;
  border: 5px outset darkgrey;
  flex: 1;
  margin: 1%;
}

.songs-header {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Archivo Black', sans-serif;
} 

.songs-items {
  display: flex;
  flex-flow: row wrap;
}
.all-user-songs-button {
  background-color:green;
  border-radius: 25px;
  border: 1px solid #FF4742;
  width: 25%;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;

}
.song-item {
  
}


.all-songs-button {

}

.albums-components {
  display: flex;
  flex-flow: column wrap;
  border: 5px outset darkgrey;
  flex: 1;
  margin: 1%;
}

.albums-header {
  font-family: 'Archivo Black', sans-serif;
}

.albums-items {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  margin: 1%;
}

.albums-item {
  /* background-color: red; */
}

.all-albums-button {
  
}

.playlists-components {
  display: flex;
  flex-flow: column wrap;
  border: 5px outset darkgrey;
  flex: 1;
  margin: 1%;

}

.playlists-header {
  font-family: 'Archivo Black', sans-serif;
}

.playlists-items {
  display: flex;
  flex-flow: row wrap;
}

.playlists-item {
  
}

.all-playlists-button {
  border-radius: 25%;
  margin: 5px;
  padding: 5px;
  border: 5px solid rgb(114, 40, 25);
}

.all-playlists-button:hover {
  background-color: darkblue;
}

.artists-components {
  display: flex;
  flex-flow: column wrap;
  border: 5px outset darkgrey;
  flex: 1;
  margin: 1%;
}

.artists-header {
  font-family: 'Archivo Black', sans-serif;
}

.artists-items {
  display: flex;
  flex-flow: row wrap;
}

.artists-item {
  
}

.all-artists-button {

}

.genres-components {
  display: flex;
  flex-flow: column wrap;
  border: 5px outset darkgrey;
  flex: 1;
  margin: 1%;
}

.genres-header {
  font-family: 'Archivo Black', sans-serif;
}

.genres-items {
  display: flex;
  flex-flow: row wrap;
}

.genres-item {

}

.all-genres-button {

}

.podcasts-components {
  display: flex;
  flex-flow: column wrap;
  border: 5px outset darkgrey;
  flex: 1;
  margin: 1%;
}

.podcasts-header {
  font-family: 'Archivo Black', sans-serif;
}
  
.podcasts-items {
  display: flex;
  flex-flow: row wrap;
}

.podcasts-item {
  
}

.all-podcasts-button {

}

.footer-container {
  

}

.expanded-songs-title {
  display: flex;
  font-family: 'Archivo Black', sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
}

.expanded-songs-items {
  display: flex;
  border: 5px outset red;
  background-color: darkgrey;
  flex-wrap: column wrap;
  justify-content: space-evenly;
  color: white;
  margin-bottom: 1rem;
  padding: 2rem;
  
}

.library-song-image {
  border: 3px outset gray;
  height: 70px;
  width: 70px;
}


.sample-button {
  outline: none;
  
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 60px;
  
  color: white;
  background-image: linear-gradient(to right top, #f7204b, #f72843, #f7303a, #f63831, #f43f27);
  box-shadow: 
    0 0 0px #000,
    0 0 40px #F43F27,
    0 0 800px #F27160;
  
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  
  transition: 300ms;
}

.sample-button:hover {
  width: 310px;
  height: 65px;
  
  background-image: linear-gradient(to left bottom, #f7204b, #f72843, #f7303a, #f63831, #f43f27);
  box-shadow: 
    0 0 20px #000,
    0 0 40px #F43F27,
    0 0 800px #F27160;
}